# Sunucu ve Veritabanı Ayarları
PORT=5000
MONGODB_URI=mongodb+srv://<kullanici_adi>:<sifre>@cluster.mongodb.net/finans_db

# Güvenlik ve Kimlik Doğrulama
JWT_SECRET=buraya_kendi_rastgele_jwt_gizli_anahtarinizi_yazin

# Yapay Zeka Konfigürasyonu
GEMINI_API_KEY=buraya_kendi_gemini_api_anahtarinizi_yazin